@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Hedvig+Letters+Serif:opsz@12..24&family=Open+Sans:wght@800&family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
}

body {
    padding: 0;
    /* Light Colors */
    --main-color: #3977ff;
    --body-color: #ffffff;
    --text-color: #141414;
    --text-color-low-opacity: #7e7e7e;
    --border-lines: #99999942;
    --scroll-thumb: #cfcfcf;
    --shadow-color: #7f7d9228;
    --item-bg-color: #e6e6e6;
    --item-hover-color: #f3f3f3;
    --menu-color: #fcfcfc;
    --text-editor-color: #3a3a42;
    --copy-button-bg: #4d4d538e;
    --copy-icon-color: #eee;
    --wave-color: #eee;
    --dropdown-color: #ffffff;
    --header-color: #ffffffd2;
    --element-bg: #b6cdff70;
}

body.dark {
    /* Dark Colors */
    /* --body-color: #1f2a31e1; */
    --body-color: #0a1820e1;
    /* --body-color: #28363f; */
    --text-color: #eee;
    --text-color-low-opacity: #c7c7c7;
    --border-lines: #7a779252;
    --scroll-thumb: #6d6d6d81;
    --shadow-color: #38383859;
    --item-bg-color: #1715276b;
    --item-hover-color: #545e649a;
    --menu-color: #3d4147;
    --text-editor-color: #1715276b;
    --copy-button-bg: #323341;
    --element-bg: #4d5a7570;
}

.container {
    height: fit-content;
    background-color: var(--body-color);
    background-image: linear-gradient(to bottom, #cfcbff17 0%, var(--body-color) 100%);
    padding: 0px;
    transition: .3s;
    font-family: 'Poppins', sans-serif;
}

body#with-navbar .container {
    margin-left: 250px;
}



header {
    width: 100%;
    height: fit-content;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: var(--header-color);
    z-index: 10;
    border-bottom: 1px solid var(--border-lines);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.header-left {
    display: flex;
    gap: 5px;
    align-items: center;
}

.logo {
    display: flex;
    gap: 5px;
    align-items: center;
    text-decoration: none;
}

.header-left button {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding: 2px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: transparent;
    transition: .2s;
    cursor: pointer;
    color: var(--text-color);
    position: relative;
    display: none;
}


.header-left button:hover {
    background-color: var(--item-hover-color);
}

.logo img {
    width: 30px;
}

.logo h1 {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--text-color);
    /* background-color: cadetblue; */
    display: none;
}

.mega-menu {
    margin-left: 20px;
}

.mega-menu ul {
    display: flex;
    gap: 3px;
}

.mega-menu ul li {
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: cadetblue; */
    gap: 6px;
    cursor: pointer;
    color: var(--text-color);
    position: relative;
    padding: 0 9px 0 12px;
    border-radius: 5px;
    height: 35px;
}

.mega-menu ul li.with-sup {
    padding-right: 5px;
    /* gap: 4px; */
}


.mega-menu ul li sup {
    align-self: flex-start;
    color: var(--main-color);
    /* background-color: var(--item-hover-color); */
    border-radius: 2px;
    /* padding: 3px 6px; */
    margin-top: 3px;
    text-transform: uppercase;
}

.dropdown-icon {
    /* margin-top: 2px; */
    /* padding-top: 1px; */
    color: var(--text-color-low-opacity);
}

.dropdown {
    position: absolute;
    top: 40px;
    left: -20%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    min-width: 250px;
    background-color: var(--dropdown-color);
    z-index: 9;
    border: 1px solid var(--border-lines);
    padding: 10px;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    transform: scale(0.95);
    transition: .2s;
    opacity: 0;
    visibility: hidden;
    max-height: 83vh;
    overflow-y: auto;
}

.mega-menu ul li:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.mega-menu ul li.hovered {
    /* Add styles for the parent item when hovered */
    background-color: var(--item-hover-color);
    /* Example background color */
}

.dropdown .link {
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 6px;
}

.dropdown .link:hover {
    background-color: var(--item-hover-color);
    color: var(--main-color);
}

.scrollToTop{
    background-color: var(--header-color);
    box-shadow: unset;
}

.scrollToTop svg{
    fill: var(--main-color);
}


.right-icons {
    /* background-color: cadetblue; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.ri-btn {
    /* background-color: var(--body-color); */
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    width: 38px;
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    /* border: 1px solid var(--border-lines); */
    position: relative;
    cursor: pointer;
    background-color: transparent;
    font-size: 22px;
    transition: .2s;
    color: var(--text-color);
}

.ri-btn:hover {
    /* box-shadow: var(--shadow-color) 0px 0px 14px; */
    /* background-color: var(--item-hover-color); */
}

.ri-btn::after {
    content: "Click to switch";
    color: var(--text-color-low-opacity);
    background-color: var(--body-color);
    border: 1px solid var(--border-lines);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 110%;
    transition: .2s;
    opacity: 0;
    visibility: hidden;
    width: fit-content;
    white-space: nowrap;
}

.ri-btn:hover::after {
    opacity: 1;
    visibility: visible;
    top: 120%;
}

.ri-btn i {
    color: var(--text-color-low-opacity);
}

.ri-btn:hover i {
    color: orange;
}

.creators {
    font-size: 13px;
    font-weight: lighter;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    color: white;
    position: relative;
    padding: 0 20px;
    border-radius: 8px;
    height: 38px;
    overflow: hidden;
}

.creators:hover {
    background-color: var(--item-hover-color);
}


.home-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.hero {
    height: 90vh;
    max-height: 600px;
    width: 100%;
    /* background-color: cadetblue;  */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    position: relative;
    overflow: hidden;
}


.hero h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 80px;
    text-transform: capitalize;
    color: var(--text-color);
    text-align: center;
    max-width: 800px;
    margin-top: 40px;
}


.hero h1 span {
    color: var(--main-color);
}

.hero p {
    text-align: center;
    color: var(--text-color-low-opacity);
    max-width: 700px;
    font-size: 17px;
}

.scroll-down {
    max-width: 600px;
    width: fit-content;
    height: 48px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* position: absolute; */
    /* bottom: 0; */
    position: relative;
    border-radius: 10px;
    padding: 0 40px;
    transition: .2s;
    cursor: pointer;
    font-size: 16px;
    font-weight: lighter;
    color: white;
    overflow: hidden;
    margin-top: 50px;
}

.scroll-down,
.creators,
.sh-title {
    background-image: linear-gradient(150deg, var(--main-color) -50%, #aa41d4 100%);
}


.scroll-down:before,
.creators:before,
.sh-title:before {
    content: '';
    position: absolute;
    width: 150px;
    height: 100%;
    background-image: linear-gradient(140deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.74),
            rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -100px;
    animation: shine 4s infinite linear;
    filter: blur(15px);
}

@keyframes shine {
    0% {
        left: -100px
    }

    20% {
        left: 100%
    }

    100% {
        left: 100%
    }
}

.scroll-down:active {
    opacity: .7;
}

.scroll-down i {
    color: var(--text-color-low-opacity);
    font-size: 25px;
    padding-top: 2px;
}


.loaders-example {
    width: 100%;
    height: fit-content;
    background-color: var(--item-hover-color);
    padding: 30px;
    scroll-margin: 60px;
}

.grid-1 {
    width: 100%;
    height: fit-content;
    max-width: 1100px;
    margin: auto;
    /* background-color: cadetblue; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.section-header {
    /* background-color: cadetblue; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.section-header .sh-title {
    color: white;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: lighter;
    border-radius: 50px;
    padding: 8px 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.sh-title .identifier{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    transition: .2s;
    border-radius: 5px;
}


.section-header h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: bold;
    width: 100%;
    max-width: 800px;
    text-align: center;
    color: var(--text-color);
}

.section-header p {
    color: var(--text-color-low-opacity);
    font-size: 17px;
    max-width: 600px;
    text-align: center;
}

.section-header .sh-link {
    color: var(--main-color);
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    text-decoration: none;
    transition: .2s;
}

.section-header .sh-link:hover {
    text-decoration: underline;
}

.grid-1-element {
    background-color: var(--body-color);
    /* color: #fff; */
    height: 150px;
    text-align: center;
    border-radius: 8px;
    transition: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-1-element:hover {
    transform: scale(1.2);
    cursor: pointer;
    box-shadow: 0px 0px 50px 0px #514e7c1e;
}

.grid-container {
    /* background-color: cadetblue; */
    width: 100%;
    height: fit-content;
    padding: 10px 30px;
    max-width: 1300px;
    margin: auto;
}

.grid-container h1 {
    font-size: 23px;
    color: var(--text-color-low-opacity);
    margin-bottom: 10px;
}

.grid-container h1 i {
    font-size: 25px;
    color: var(--main-color);
}

.grid-container .gc-grids {
    /* display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: row dense; */
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.gc-grids span {
    /* background-color: orange; */
    border: 1px solid transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    height: fit-content;
    padding: 0px;
    transition: .2s;
    cursor: pointer;
}

/* loader examples */


.container1 {
    --size1: 40px;
    --color1: var(--main-color);
    --speed1: 2s;
    --bg-opacity1: 0;
    height: var(--size1);
    width: var(--size1);
    transform-origin: center;
    animation: rotate var(--speed1) linear infinite;
    will-change: transform;
    overflow: visible;
}

.snake1 {
    fill: none;
    stroke: var(--color1);
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: stretch calc(var(--speed1) * 0.75) ease-in-out infinite;
    will-change: stroke-dasharray, stroke-dashoffset;
    transition: stroke 0.5s ease;
}

.bg1 {
    fill: none;
    stroke: var(--element-bg);
    opacity: var(--bg-opacity1);
    transition: stroke 0.5s ease;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes stretch {
    0% {
        stroke-dasharray: 0, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 75, 150;
        stroke-dashoffset: -25;
    }

    100% {
        stroke-dashoffset: -100;
    }
}


.container2 {
    --size2: 40px;
    --color2: var(--main-color);
    --speed2: .8s;
    height: var(--size2);
    width: var(--size2);
    transform-origin: center;
    animation: rotate2 var(--speed2) linear infinite;
    will-change: transform;
    overflow: visible;
}

.snake2 {
    fill: none;
    stroke: var(--color2);
    stroke-dasharray: 25, 75;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    transition: stroke 0.5s ease;
}

.bg2 {
    fill: none;
    stroke: var(--element-bg);
    transition: stroke 0.5s ease;
}

@keyframes rotate2 {
    100% {
        transform: rotate(360deg);
    }
}

.container3 {
    --size3: 37px;
    --color3: var(--main-color);
    --speed3: .9s;
    height: var(--size3);
    width: var(--size3);
    transform-origin: center;
    overflow: visible;
}

.snake3 {
    fill: none;
    stroke: var(--color3);
    stroke-dasharray: 15, 85;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: travel3 var(--speed3) linear infinite;
    will-change: stroke-dasharray, stroke-dashoffset;
    transition: stroke 0.5s ease;
}

.bg3 {
    stroke: var(--element-bg);
    transition: stroke 0.5s ease;
}

@keyframes travel3 {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -100;
    }
}

.container4 {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: var(--main-color);
}

.container4:before,
.container4:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s xrotate linear infinite;
}

.container4:after {
    color: var(--main-color);
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes xrotate {

    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}

.container5 {
    width: 40px;
    height: 40px;
    margin: auto;
    position: relative;
}

.container5:before {
    content: '';
    width: 40px;
    height: 5px;
    background: var(--element-bg);
    position: absolute;
    top: 47px;
    left: 0;
    border-radius: 50%;
    animation: shadow 0.5s linear infinite;
}

.container5:after {
    content: '';
    width: 80%;
    height: 90%;
    background: var(--main-color);
    animation: paperSpin 0.5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
}

@keyframes paperSpin {
    17% {
        border-bottom-right-radius: 3px;
    }

    25% {
        transform: translateY(9px) rotate(22.5deg);
    }

    50% {
        transform: translateY(18px) scale(1, .9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }

    75% {
        transform: translateY(9px) rotate(67.5deg);
    }

    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@keyframes shadow {

    0%,
    100% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1);
    }
}


.container6 {
    color: var(--main-color);
    font-size: 6px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: dotSpin 1.3s infinite linear;
    transform: translateZ(0);
}

@keyframes dotSpin {

    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em,
            2em -2em 0 0em, 3em 0 0 -1em,
            2em 2em 0 -1em, 0 3em 0 -1em,
            -2em 2em 0 -1em, -3em 0 0 -1em,
            -2em -2em 0 0;
    }

    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em,
            3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em,
            -2em 2em 0 -1em, -3em 0 0 -1em,
            -2em -2em 0 -1em;
    }

    25% {
        box-shadow: 0 -3em 0 -0.5em,
            2em -2em 0 0, 3em 0 0 0.2em,
            2em 2em 0 0, 0 3em 0 -1em,
            -2em 2em 0 -1em, -3em 0 0 -1em,
            -2em -2em 0 -1em;
    }

    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
            3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em,
            -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
            3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em,
            -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
            3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0,
            -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }

    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em,
            3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
            -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }

    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em,
            3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
            -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}


.container7 {
    --size: 80px;
    --color: var(--main-color);
    --speed: 1.4s;
    --stroke: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--stroke);
    width: var(--size);
    border-radius: calc(var(--stroke) / 2);
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }

  .container7::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--element-bg);
    transition: background-color 0.3s ease;
  }

  .container7::after {
    content: '';
    height: 100%;
    width: 100%;
    border-radius: calc(var(--stroke) / 2);
    animation: zoom var(--speed) ease-in-out infinite;
    transform: translateX(-100%);
    background-color: var(--color);
    transition: background-color 0.3s ease;
  }

  @keyframes zoom {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .container8 {
    width: 40px;
    height: 40px;
    border: 5px solid var(--element-bg);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation8 1s linear infinite;
  } 
  .container8::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-bottom-color: var(--main-color);
  }
  
  @keyframes rotation8 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  .container9, .container9:before, .container9:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: dotFadeInOut 1.8s infinite ease-in-out;
  }
  .container9 {
    color: var(--main-color);
    font-size: 6px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
    transform: translateY(-13px);
  }
  .container9:before,
  .container9:after {
    content: '';
    position: absolute;
    top: 0;
  }
  .container9:before {
    left: -3.5em;
    animation-delay: -0.32s;
  }
  .container9:after {
    left: 3.5em;
  }
  
  @keyframes dotFadeInOut {
    0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em; opacity: .8;  }
    40% { box-shadow: 0 2.5em 0 0; opacity: 1; }
  }

  .container10 {
    position: relative;
    width: 40px;
    height: 40px;
  }
  .container10:before,
  .container10:after {
    content:"";
    display: block;
    border: 20px solid transparent;
    border-top-color: var(--element-bg);
    position: absolute;
    left: 0;
    top: 0;
    animation: weld-rotate 2s infinite ease-in;
    border-radius: 50px;
  }
  .container10:before {
    border-color: transparent  transparent transparent var(--main-color);
    animation-delay: 0.5s;
  }
  @keyframes weld-rotate {
    0% , 25% {transform: rotate(0deg)}
    50% , 75% {transform: rotate(180deg)}
    100% {transform: rotate(360deg)}
  }


  .showroom{
    width: 100%;
    height: fit-content;
    padding: 30px;
    scroll-margin: 60px;
}

.showroom-grid{
    width: 100%;
    height: fit-content;
    max-width: 1100px;
    margin: auto;
    /* background-color: cadetblue; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    margin-top: 20px;
    overflow: hidden;
}

.showroom-grid .sg-card{
    height: fit-content;
    min-height: 100%;
    background-color: var(--item-hover-color);
    border-radius: 15px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    gap: 10px;
    overflow: hidden;
}

.showroom-grid .sg-card.c1 span{
    color: mediumorchid;
}

.showroom-grid .sg-card.c2 span{
    color: mediumblue;
}

.showroom-grid .sg-card.c3 span{
    color: darkcyan;
}

.showroom-grid .sg-card.c4 span{
    color: seagreen;
}

.showroom-grid .sg-card span{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-transform: capitalize;
    text-align: left;
}

.showroom-grid .sg-card h1{
    font-size: 20px;
    text-align: left;
    color: var(--text-color);
}

.showroom-grid .sg-card p{
    font-size: 15px;
    text-align: left;
    color: var(--text-color);
}

.showroom-grid .sg-card .links{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
}

.links h5{
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    cursor: pointer;
    transition: .2s;
    font-size: 15px;
}

.links h5:hover{
    opacity: .6;
}

.showroom-grid .sg-card span svg{
    font-size: 20px;
}

.review{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    gap: 15px;
    font-family: 'Hedvig Letters Serif', serif;
}

.review p{
    font-size: 18px;
    width: 100%;
    text-align: center;
    max-width: 550px;
    color: var(--text-color);
}

.review .by{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.review h1{
    font-size: 16px;
    text-align: left;
    color: var(--text-color);
}

.review .by p{
    text-align: left;
    font-size: 14px;
    color: var(--main-color);
}

.review img{
    border-radius: 50%;
}









/* Breadcrumb */
.db-container {
    background-color: var(--item-bg-color);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    white-space: nowrap;
    border-radius: 5px;
    width: fit-content;
    flex-wrap: wrap;
}

.separator::before {
    content: ">";
    color: var(--text-color-low-opacity);
}

.db-container p {
    background-color: transparent;
    text-decoration: none;
    color: var(--text-color-low-opacity);
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
    transition: .2s;
    pointer-events: none;
}


.db-container p:last-child {
    color: var(--main-color);
}

.example-container {
    padding-bottom: 60px;
}

.example-container h1 {
    width: 100%;
    text-align: center;
    padding: 10px;

}

.example {
    display: flex;
    /* background-color: cadetblue; */
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.example .e1 {
    background-color: var(--item-bg-color);
    width: 100%;
    max-width: 50%;
    height: 300px;
    border-radius: 10px;
    /* border: 1px solid var(--border-lines); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.example .e2 {
    width: 100%;
    max-width: 50%;
    /* background-color: chocolate; */
    height: 300px;
    border-radius: 10px;
    /* border: 1px solid var(--border-lines); */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    box-sizing: border-box;
}

.example .e2 div {
    width: 100%;
    min-height: 43px;
    background-color: var(--text-editor-color);
    border-radius: 10px;
    padding: 6px 10px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    transition: .2s;
}

.exampleLoaderCss {
    overscroll-behavior: contain;
    padding: 10px;
}

.exampleLoaderCss::-webkit-scrollbar-track {
    background: transparent;
}

.exampleLoaderCss::-webkit-scrollbar-thumb {
    background: transparent;
}


.example .e2 div:nth-child(2) {
    height: 100%;
}

.copy-button {
    position: absolute;
    position: -webkit-sticky;
    top: 6px;
    right: 6px;
    height: fit-content;
    border: none;
    outline: none;
    background-color: var(--copy-button-bg);
    border-radius: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
}

.copy-button:hover {
    opacity: 1;
}

.copy-button:hover .copy-icon {
    opacity: .6;
}

.copy-icon {
    color: var(--copy-icon-color);
    font-size: 20px;
    opacity: .3;
}

.example .e2 div:hover .copy-button {
    opacity: 1;
    visibility: visible;
}
















/* MEDIA QUUERIES */
@media screen and (max-width: 900px) {

    .hero h1 {
        font-size: 60px;
    }

    .hero p {
        font-size: 15px;
    }

    .container::after {
        display: none;
    }

}

@media screen and (max-width: 700px) {}

@media screen and (max-width: 500px) {

    #nav-middle-toggle {
        display: none;
    }

    body#with-navbar .container {
        margin-left: 0px;
    }

    .nav-overlay {
        display: block;
    }

    header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 10;
    }


    .copy-button {
        opacity: 1;
        visibility: visible;
    }

    .hero h1 {
        font-size: 30px;
    }

    .scroll-down {
        font-size: 13px;
        width: 100%;
        min-width: 180px;
        padding: 0;
    }

}

@media screen and (max-width: 330px) {

    .menu.active {
        width: 100%;
    }



    .menu-container .menu-logo i {
        display: block;
    }
}



/* CUSTOM SCROLL */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

body.dark::-webkit-scrollbar-track {
    background-color: var(--body-color);
}

::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    background-clip: padding-box;
    background: var(--scroll-thumb);
    border-radius: 50px;
}

/* SELECTION COLOR  */
::-moz-selection {
    color: #000;
    background: #a287eb8c;
}

::selection {
    color: #000;
    background: #a287eb8c;
}